# Prerequisites
*.d

# McOsX directory attributes
.DS_Store
info.plist
*.dSYM

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# others
*.vscode
ADA_Capitulo1/Ebook/ListaDeElementos.dSYM/Contents/Resources/Relocations/x86_64/ListaDeElementos.yml
ADA_Capitulo1/Ebook/ListaDeElementos.dSYM/Contents/Info.plist
ADA_Capitulo1/Ebook/maiorValor
ADA_Capitulo1/Ebook/ListaDeElementos
ADA_Capitulo1/Ebook/ComplexidadeAlgoritmo.dSYM/Contents/Info.plist
ADA_Capitulo1/Ebook/ComplexidadeAlgoritmo
ADA_Capitulo1/Ebook/menorDistancia
